@import "reset";
@import "variables";

.wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url(../pictures/warm.jpg);
  background-size: cover;
  background-position: bottom;
  &.cold {
    background-image: url(../pictures/cold.jpg);
  }
  &.default {
    background-image: url(../pictures/default.jpg);
  }
}

.shadowOverlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
}

.main {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
}

.searchSpace {
  margin-bottom: 2.5rem;
  width: 90%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: $defaultBoxShadow;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  .cityInput {
    width: 85%;
    display: inline-block;
    padding: 15px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.9rem;
    color: #000;
    pointer-events: auto;
    border-radius: 16px 0 0 16px;
    transition: all 0.2s ease;
  }

  .cityInput:hover,
  :focus {
    background-color: rgba(255, 255, 255, 0.75);
  }
  .cityInput_search {
    border: none;
    width: 20%;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;

    i {
      color: rgba(0, 0, 0, 0.4);
      transition: all 0.2s ease;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 16px 16px 0;
      &:hover,
      :focus {
        color: rgba(0, 0, 0, 0.6);
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.informationBox_Info {
  text-align: center;
  width: 100%;
  padding-bottom: 2.5rem;
  span:nth-child(1) {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    text-shadow: $defaultTextShadow;
  }
  span:nth-child(2) {
    display: block;
    padding: 1rem 0;
    font-size: 1.9rem;
    font-style: italic;
    font-weight: 300;
    text-shadow: $defaultTextShadow;
  }
}

.informationBox_Weather {
  & .weatherInfoWrapper {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: $defaultBoxShadow;
    transition: all 0.4s ease-out;
  }
  .weatherInfoWrapper:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .degreesSpace {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .degreesBox {
      width: 33%;
      min-width: 120px;
      text-shadow: $defaultTextShadow;
      padding: 1rem 0;
      .degreesBox_name {
        display: block;
        font-size: 1.9rem;
      }
      .degreesBox_deg {
        display: block;
        font-size: 3rem;
      }
    }
  }

  .weatherIcon {
    font-size: 7rem;
    text-shadow: $defaultTextShadow;
    padding-bottom: 2rem;
  }

  .forecast {
    font-size: 3rem;
    font-weight: 500;
    text-shadow: $defaultTextShadow;
  }
}

.errorMessage {
  margin: 0 auto;
  padding: 0 25px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  text-shadow: $defaultTextShadow;
}
.errorMessage::first-letter {
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .cityInput {
    font-size: 2rem;
  }

  .informationBox_Info {
    span:nth-child(1) {
      font-size: 6rem;
    }
    span:nth-child(2) {
      font-size: 2.5rem;
    }
  }

  .informationBox_Weather .weatherInfoWrapper {
    width: 600px;
    .degreesSpace {
      .degreesBox_name {
        font-size: 2.4rem;
      }
      .degreesBox_deg {
        font-size: 4.5rem;
      }
    }
    .weatherIcon {
      font-size: 10rem;
      padding-bottom: 3rem;
    }
    .forecast {
      font-size: 4.5rem;
    }
  }

  .errorMessage {
    font-size: 5rem;
  }
}
